.cards{
  display: grid;
 
    grid-template-columns: repeat(5, 5fr);
     
    grid-auto-rows: auto;

    margin-left: 10vw;
 

}


.card-game1{
        width: 190px;
        height: 254px;
        border-radius: 30px;
        background: #212121;
        box-shadow: 15px 15px 30px rgb(25, 25, 25),
                    -15px -15px 30px rgb(60, 60, 60);
       
       
}

.card-game1:hover{
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.card-game1 {
    width: 80vw;
    height: 40vh;
    background-image: linear-gradient(163deg, #7733ff 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .isi-card-game1 {
    width: 80vw;
    height: 40vh;
    background-color: #181818;
    border-radius:10px;
    border: solid 0.2px white;
    transition: all .2s;
   }
   
   .isi-card-game1:hover {
    transform: scale(0.98);
    border-radius: 20px;
    border: none;
   }
   
   .card-game1:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }

   /* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    font-family: 'Permanent Marker';
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: white;
    --animation-color: #37FF8B;
    --fs-size: 6em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    font-family: 'Permanent Marker';
    margin-left: 5vw;
    margin-top: 5vw;
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
    font-family: 'Permanent Marker';
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
    
  }


  /* beda button */

  .btn-explore {
    cursor: pointer;
    background: transparent;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    outline: none;
    border: 2px solid #37FF8B;
    margin: 40px;
    width: 150px;
    height: 60px;
    text-transform: uppercase;
    font-weight: 100;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
    transition: 0.45s;
    transition-delay: 0s;
    font-size: 1vw;
    margin-left: 18vw;
  }
  
  .btn-explore:hover {
    transition-delay: 1.5s;
    color: white;
    box-shadow: 0 0 10px #37FF8B,
                  0 0 20px #37FF8B,
                  0 0 40px #37FF8B, 
                  0 0 80px #37FF8B, 
                  0 0 100px #37FF8B;
  }
  
  .btn-explore span {
    position: relative;
    z-index: 100;
  }
  
  .btn-explore::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #37FF8B;
    box-shadow: 5px -8px 0 #37FF8B, 
                5px 8px 0 #37FF8B;
    transition: width 0.5s, 
                left 0.5s, 
                height 0.5s, 
                box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
  }
  
  .btn-explore:hover::before {
    width: 60%;
    height: 100%;
    /* right: -2px; */
    left: -2px;
    box-shadow: 5px 0 0 #37FF8B, 
                5px 0 0 #37FF8B;
    transition-delay: 0s, 0.5s, 1s, 1s;
  }
  
  .btn-explore::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #37FF8B;
    box-shadow: -5px -8px 0 #37FF8B, 
                -5px 8px 0 #37FF8B;
    transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
  }
  
  .btn-explore:hover::after {
    width: 60%;
    height: 102%;
    right: -2px;
    box-shadow: -5px 0 0 #37FF8B, -5px 0 0 #37FF8B;
    transition-delay: 0s, 0.5s, 1s, 1s;
  }
  
  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  

  /*Card */
.card {
    width: 190px;
    height: 254px;
    background: #2f4eb6;
    position: relative;
    box-shadow: 0px 2px 5px rgba(35,35,35,0.3);
    transition: box-shadow .3s ease-in-out;

    border-radius: 10px;
    margin-top: 5vw;
    cursor: pointer;
    color: white;
    
   }
   
   .card-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
   }
   
   /*Image*/
   .card-img {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform .3s ease-in-out;
    z-index: 2;
   }
   
   /*Buttons*/
   .social-media {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    transform: translateY(-200%);
    z-index: 3;
   }
   
   .social-media li {
    background: #f5f5f5;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in;
   }
   
   /*Text*/
   .title {
    font-size: 1.5em;
    font-weight: 500;
   }
   
   .subtitle {
    letter-spacing: 1px;
    font-size: 0.9em;
   }
   
   ul {
    list-style: none;
   }
   
   svg {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    fill: #252525;
   }
   
   /* Hover */
   .card:hover {
    box-shadow: 1px 2px 10px rgba(35,35,35,0.5);
   }
   
   .card:hover .card-img {
    transform: translateY(-30%);
   }
   
   .card:hover .social-media li {
    transform: translateY(-5%);
    opacity: 1;
   }
   
   .card:hover .social-media li:nth-child(1) {
    transition-delay: 0s;
   }
   
   .card:hover .social-media li:nth-child(2) {
    transition-delay: .1s;
   }
   
   .card:hover .social-media li:nth-child(3) {
    transition-delay: .2s;
   }



   .button-video {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 12em;
    height: 3.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    margin-left: 44vw;
    margin-top: 2vw;
    font-weight: 600;
    font-family: 'outfit';
   }
   
   .button-video:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 260px;
    border-radius: 50%;
   }
   
   .button-video:hover {
    color: white;
    font-weight: 600;
    font-family: 'outfit';
   }
   
   .button-video:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .button-video:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .button-video:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }

   .associated{
    border-radius: 0px 0px 50px 50px;
   }

   ::-webkit-scrollbar{
    width: 15px;
   }

   ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 3px;
  }

  